<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orange.score.database.score.dao.FakeRecordHistoryMapper">
    <resultMap id="BaseResultMap" type="com.orange.score.database.score.model.FakeRecordHistory">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="ID_CODE" jdbcType="VARCHAR" property="idCode" />
        <result column="handle" jdbcType="VARCHAR" property="handle" />
        <result column="BATCH_ID" jdbcType="INTEGER" property="batchId" />
        <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="operator" jdbcType="VARCHAR" property="operator" />
    </resultMap>
</mapper>