<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orange.score.database.score.dao.IdentityInfoMapper">
    <resultMap id="BaseResultMap" type="com.orange.score.database.score.model.IdentityInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="id_number" jdbcType="VARCHAR" property="idNumber"/>
        <result column="batch_id" jdbcType="INTEGER" property="batchId"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="id_card_positive" jdbcType="VARCHAR" property="idCardPositive"/>
        <result column="id_card_opposite" jdbcType="VARCHAR" property="idCardOpposite"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="birthday" jdbcType="VARCHAR" property="birthday"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="nation" jdbcType="VARCHAR" property="nation"/>
        <result column="region" jdbcType="INTEGER" property="region"/>
        <result column="region_name" jdbcType="VARCHAR" property="regionName"/>
        <result column="reservation_status" jdbcType="INTEGER" property="reservationStatus"/>
        <result column="hall_status" jdbcType="INTEGER" property="hallStatus"/>
        <result column="union_approve_status_1" jdbcType="INTEGER" property="unionApproveStatus1"/>
        <result column="union_approve_status_2" jdbcType="INTEGER" property="unionApproveStatus2"/>
        <result column="police_approve_status" jdbcType="INTEGER" property="policeApproveStatus"/>
        <result column="renshe_accept_status" jdbcType="INTEGER" property="rensheAcceptStatus"/>
        <result column="cancel_status" jdbcType="INTEGER" property="cancelStatus"/>
        <result column="accept_number" jdbcType="VARCHAR" property="acceptNumber"/>
        <result column="accept_address_id" jdbcType="INTEGER" property="acceptAddressId"/>
        <result column="accept_address" jdbcType="VARCHAR" property="acceptAddress"/>
        <result column="reservation_date" jdbcType="TIMESTAMP" property="reservationDate"/>
        <result column="reservation_m" jdbcType="INTEGER" property="reservationM"/>
        <result column="c_time" jdbcType="TIMESTAMP" property="cTime"/>
        <result column="u_time" jdbcType="TIMESTAMP" property="uTime"/>
        <result column="result_status" jdbcType="INTEGER" property="resultStatus"/>
    </resultMap>
    <select id="selectByCompany" resultMap="BaseResultMap">
        select i.* from t_identity_info i inner join t_company_info c on i.company_id=c.id
        <where>
            <if test="search.companyId!=null">
                and c.id=#{search.companyId}
            </if>
            <if test="search.societyCode!=null and search.societyCode!=''">
                and c.society_code=#{search.societyCode}
            </if>
            <if test="search.batchId!=null">
                and i.batch_id=#{search.batchId}
            </if>
        </where>
    </select>
    <select id="selectExportList1" resultType="java.util.Map">
        select
        i.accept_number,i.id_number,i.name,i.reservation_date,
        i.sex,o.culture_degree,p.profession_type,p.job_type,
        c.company_name,c.company_mobile,o.self_phone,p.certificate_code,
        p.issuing_authority,p.issuing_date
        from t_identity_info i
        left join t_house_other o
        on i.id=o.identity_info_id
        left join t_house_profession p
        on i.id=p.identity_info_id
        left join t_company_info c on i.company_id=c.id
        <where>
            i.police_approve_status= 3 and i.renshe_accept_status = 3
            <if test="item.batchId!=null">
                and i.batch_id=#{item.batchId}
            </if>
            <if test="item.idNumber!=null">
                and i.id_number=#{item.idNumber}
            </if>
            <if test="item.acceptAddressId!=null">
                and i.ACCEPT_ADDRESS_ID=#{item.acceptAddressId}
            </if>
        </where>
    </select>
    <select id="selectExportList5" resultType="java.util.Map">
        select t1.PREAPPROVE,
        t1.name SPname,
        t1.ID_NUMBER SPID_NUMBER,
        t2.name,
        t2.id_number,
        t2.relationship,
        t3.operator,
        t3.idcardnumber_1,
        t3.operator2,
        t3.idcardnumber_2
        from t_identity_info t1
        left join t_house_relationship t2
        on t1.id = t2.identity_info_id
        left join t_company_info t3
        on t1.company_id=t3.id
        <where>
            (t2.relationship = '配偶' or t2.relationship is null)
            and t1.UNION_APPROVE_STATUS_2=1
            and t1.police_approve_status= 3 and t1.renshe_accept_status = 3
            <if test="item.batchId!=null">
                and t1.batch_id=#{item.batchId}
            </if>
            <if test="item.userType==0">
                and t1.ACCEPT_ADDRESS_ID=1
            </if>
            <if test="item.userType==1">
                and t1.ACCEPT_ADDRESS_ID=2
            </if>
            <if test="item.preApprove!=null">
                and to_char(t1.preApprove,'yyyy-MM-dd')=#{item.preApprove}
            </if>
        </where>
    </select>

    <select id="selectExportList6" resultType="java.util.Map">
        select t1.name PERSONNAME,
                t1.id_number PERSONIDNUM,
                t1.reservation_date RESERVATIONDATE,
                case
                when t2.profession_type = 1 then
                '无'
                when t2.profession_type = 2 then
                '具有专业技术人员职业资格'
                when t2.profession_type = 3 then
                '具有技能人员职业资格'
                end PROFESSIONTYPE
        from t_identity_info t1, t_house_profession t2
        <where>
            t1.id = t2.identity_info_id
            and t1.batch_id in (select id from t_batch_conf where status=1)
            and t1.accept_address_id = 1
            <if test="item.personName!=null">
                and t1.name=#{item.personName}
            </if>
            <if test="item.personIdNum!=null">
                and t1.id_number=#{item.personIdNum}
            </if>
            <if test="item.professionType!=null">
                and t2.profession_type=#{item.professionType}
            </if>
            <if test="item.reservationDate!=null">
                and to_char(t1.reservation_date,'yyyy-MM-dd')=#{item.reservationDate}
            </if>
            order by t1.reservation_date asc
        </where>
    </select>

    <select id="selectExportList2" resultType="java.util.Map">
        select
        i.accept_number,o.applicant_type,i.id_number,i.name,
        p.profession_type,p.job_type,o.profession,
        i.region,i.hall_status,i.reservation_status,m.move_registered_office
        from t_identity_info i
        left join t_house_other o
        on i.id=o.identity_info_id
        left join t_house_profession p
        on i.id=p.identity_info_id
        left join t_house_move m
        on i.id=m.identity_info_id
        <where>
            i.police_approve_status= 3 and i.renshe_accept_status = 3
            <if test="item.batchId!=null">
                and i.batch_id=#{item.batchId}
            </if>
            <if test="item.idNumber!=null">
                and i.id_number=#{item.idNumber}
            </if>
            <if test="item.acceptAddressId!=null">
                and i.ACCEPT_ADDRESS_ID=#{item.acceptAddressId}
            </if>
        </where>
    </select>
    <select id="selectApprovingRedCompanyId" resultType="java.lang.Integer">
        select
        company_id
        from t_identity_info
        <where>
            <if test="item.batchId!=null">
                and batch_id=#{item.batchId}
            </if>
        </where>
        group by company_id having count(1)>=#{limit}
    </select>
    <select id="selectExportList3" resultType="java.util.Map">
        select
        r.ID	,
        r.ACCEPT_NUMBER	,
        r.BATCH_ID	,
        r.INDICATOR_ID	,
        r.INDICATOR_NAME	,
        r.PERSON_ID	,
        r.PERSON_NAME	,
        r.PERSON_ID_NUM	,
        r.PERSON_MOBILE_PHONE	,
        r.COMPANY_ID	,
        r.COMPANY_NAME	,
        r.STATUS	,
        round(r.SCORE_VALUE,2)	SCORE_VALUE,
        r.ITEM_ID	,
        r.ACCEPT_DATE	,
        r.SUBMIT_DATE	,
        r.SCORE_DATE	,
        r.OP_USER_ID	,
        r.OP_USER	,
        r.OP_ROLE_ID	,
        r.OP_ROLE	,
        r.SCORE_DETAIL	,
        r.C_TIME	,
        r.ACCEPT_ADDRESS_ID	,
        r.ORIGINAL_SCORE_VALUE	,
        r.ISDEDUCTED	,
        r.TOREVIEWREASON	,
        r.TOREVIEWTIME	,
        r.IDREVIEWEND	,c.batch_name,i.accept_address
        from t_pb_score_record r
        left join t_identity_info i
        on r.person_id = i.id
        left join t_batch_conf c
        on r.batch_id=c.id
        <where>
            i.police_approve_status= 3 and i.renshe_accept_status = 3
            <if test="item.batchId!=null">
                and r.batch_id = #{item.batchId}
            </if>
            <if test="item.personName!=null and item.personName!=''">
                and r.person_name like concat('%',concat(#{item.personName}, '%'))
            </if>
            <if test="item.personIdNum!=null and item.personIdNum!=''">
                and r.person_id_num like concat('%',concat(#{item.personIdNum}, '%'))
            </if>
            <if test="item.companyName!=null and item.companyName!=''">
                and r.company_name like concat('%',concat(#{item.companyName}, '%'))
            </if>
            <if test="item.indicatorName!=null and item.indicatorName!=''">
                and r.indicator_name like concat('%',concat(#{item.indicatorName}, '%'))
            </if>
            <if test="item.status!=null">
                and r.status = #{item.status}
            </if>
            <if test="item.acceptAddressId!=null">
                and i.accept_address_id = #{item.acceptAddressId}
            </if>
            <if test="item.acceptDateBegin!=null">
                <![CDATA[ and TO_CHAR(r.accept_date,'yyyy-mm-dd') >= #{item.acceptDateBegin} ]]>
            </if>
            <if test="item.acceptDateEnd!=null">
                <![CDATA[ and TO_CHAR(r.accept_date,'yyyy-mm-dd') <= #{item.acceptDateEnd}  ]]>
            </if>
            <if test="item.submitDateBegin!=null">
                <![CDATA[ and TO_CHAR(r.submit_date,'yyyy-mm-dd') >= #{item.submitDateBegin} ]]>
            </if>
            <if test="item.submitDateEnd!=null">
                <![CDATA[ and TO_CHAR(r.submit_date,'yyyy-mm-dd') <= #{item.submitDateEnd}  ]]>
            </if>
            <if test="item.scoreDateBegin!=null">
                <![CDATA[ and TO_CHAR(r.score_date,'yyyy-mm-dd') >= #{item.scoreDateBegin} ]]>
            </if>
            <if test="item.scoreDateEnd!=null">
                <![CDATA[ and TO_CHAR(r.score_date,'yyyy-mm-dd') <= #{item.scoreDateEnd}  ]]>
            </if>
        </where>

    </select>
    <select id="selectExportList4" resultType="java.util.Map">
        select
        i.accept_number,
        i.id_number,
        i.name,
        o.self_phone,
        i.sex,
        i.opuser4,
        o.culture_degree,
        p.job_title_level,
        p.job_name,
        p.job_level,
        p.profession_title,
        p.profession_type,
        p.job_type,
        p.certificate_code,
        p.issuing_authority,
        p.issuing_date,
        c.company_name,
        c.company_mobile,
        c.operator,
        c.operator_mobile,
        r.name partner_name,
        r.id_number partner_id_number,
        sr.status_time accept_date,
        th.COMPANY_NAME COMPANY_NAME_other,
        th.APPLY_OFFICE_ADDRESS
        from t_identity_info i
        left join t_house_other o
        on i.id=o.identity_info_id
        left join t_house_profession p
        on i.id=p.identity_info_id
        left join t_company_info c on i.company_id=c.id
        LEFT join t_house_other th on th.IDENTITY_INFO_ID=i.id
        left join t_house_relationship r on i.id=r.identity_info_id and r.relationship='配偶'
        left join t_pb_status_record sr on i.id=sr.person_id and status_dict_alias='hallStatus' and status_int=5
        <where>
            i.police_approve_status= 3
            <if test="item.batchId!=null">
                and i.batch_id = #{item.batchId} and i.reservation_status = 11 and i.renshe_accept_status = 3
            </if>
            <if test="item.acceptAddressId!=null">
                and i.accept_address_id = #{item.acceptAddressId}
            </if>
            <if test="item.personName!=null and item.personName!=''">
                and i.name like concat('%',concat(#{item.personName}, '%'))
            </if>
            <if test="item.personIdNum!=null and item.personIdNum!=''">
                and i.id_number like concat('%',concat(#{item.personIdNum}, '%'))
            </if>
            <if test="item.companyName!=null and item.companyName!=''">
                and c.company_name like concat('%',concat(#{item.companyName}, '%'))
            </if>
            <if test="item.acceptDateBegin!=null">
                <![CDATA[ and TO_CHAR(sr.status_time,'yyyy-mm-dd') >= #{item.acceptDateBegin} ]]>
            </if>
            <if test="item.acceptDateEnd!=null">
                <![CDATA[ and TO_CHAR(sr.status_time,'yyyy-mm-dd') <= #{item.acceptDateEnd}  ]]>
            </if>
        </where>
        order by i.accept_number asc
    </select>

    <!--2018-10-15 查询锁定人的名单-->
    <select id="selectByFilter2" resultType="com.orange.score.database.score.model.IdentityInfo">
        select distinct LOCK_USER_2,id
        from t_identity_info
        ORDER by LOCK_USER_2
    </select>

    <!--根据batchid和score_value的数据获取申请人-->
    <select id="selectIdentityInfoRecipientList" resultType="java.util.Map">
        select t2.person_id_num,
        t2.person_name,
        t2.score_value,
        case
        when t1.sex = 1 then
        '男'
        when t1.sex = 2 then
        '女'
        end  SEX,
        t1.accept_address,
        t1.LUOHU_NUMBER,
        tof.name registration,
        tr.name  areaname,
        tm.address,
        tm.witness,
        tm.witness_phone,
        tm.witness_address,
        tp.operator,
        tp.operator_mobile,
        tp.operator2,
        tp.operator_obile2,
        th.self_phone,
        th.company_phone
        from t_identity_info t1,
        ( select PERSON_NAME,PERSON_ID_NUM,SCORE_VALUE from t_pb_score_result where batch_id=#{item.batchId} ) t2,
        t_house_move tm,
        t_office tof,
        t_region tr,
        t_company_info tp,
        t_house_other th
        where /*t1.id_number = t2.person_id_num   2019年6月17日，优化sql 语句，添加upper函数，改变筛选条件*/
        upper(t1.id_number) = upper(t2.person_id_num) AND t1.CANCEL_STATUS=0
        /*and t1.hall_status = 6*/
        and t1.BATCH_ID = #{item.batchId}
        and t1.id = tm.identity_info_id
        and tm.registered_region = tof.id
        and tm.region = tr.id
        and t1.company_id = tp.id
        and t1.id = th.identity_info_id
        order by t2.score_value desc
    </select>

    <select id="selectIdentityInfoRecipientList2" resultType="java.util.Map">
        select t2.person_id_num,
            t1.id,
            t2.person_name,
            t2.score_value,
            case
            when t1.sex = '1' then
                '男'
            when t1.sex = '2' then
                '女'
            else
                '其他'
            end sex,
            t1.age 年龄,
            t1.region_name 拟落户地区,
            t1.hall_status 预约大厅状态,
            case
            when t1.cancel_status = 0 then
                '正常'
            when t1.cancel_status = 1 then
                '取消资格'
            else
                '其他'
            end 资格取消状态,
            t1.RENSHE_ACCEPT_STATUS
        from t_identity_info t1,
            ( select PERSON_NAME,PERSON_ID_NUM,SCORE_VALUE from t_pb_score_result where batch_id=#{item.batchId} ) t2
        where upper(t1.id_number) = upper(t2.person_id_num)
              and t1.batch_id = #{item.batchId}
        order by t2.score_value desc
    </select>

    <select id="exportDisqualified" resultType="java.util.Map">
        select ACCEPT_NUMBER,
            name,
            id_number,
            CANCELREASON,
            TOREVIEWTIME,
            ISTOREVIEW
        from t_identity_info
        where batch_id = 1040
              and TOREVIEWTIME is not null
              and ISTOREVIEW in (1, 2)
            <if test="item.acceptAddressId!=null">
                and i.accept_address_id = #{item.acceptAddressId}
            </if>
    </select>

</mapper>
