<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orange.score.database.score.dao.IdentityInfoMapper">
    <resultMap id="BaseResultMap" type="com.orange.score.database.score.model.IdentityInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="id_number" jdbcType="VARCHAR" property="idNumber"/>
        <result column="batch_id" jdbcType="INTEGER" property="batchId"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="id_card_positive" jdbcType="VARCHAR" property="idCardPositive"/>
        <result column="id_card_opposite" jdbcType="VARCHAR" property="idCardOpposite"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="birthday" jdbcType="VARCHAR" property="birthday"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="nation" jdbcType="VARCHAR" property="nation"/>
        <result column="region" jdbcType="INTEGER" property="region"/>
        <result column="region_name" jdbcType="VARCHAR" property="regionName"/>
        <result column="reservation_status" jdbcType="INTEGER" property="reservationStatus"/>
        <result column="hall_status" jdbcType="INTEGER" property="hallStatus"/>
        <result column="union_approve_status_1" jdbcType="INTEGER" property="unionApproveStatus1"/>
        <result column="union_approve_status_2" jdbcType="INTEGER" property="unionApproveStatus2"/>
        <result column="police_approve_status" jdbcType="INTEGER" property="policeApproveStatus"/>
        <result column="renshe_accept_status" jdbcType="INTEGER" property="rensheAcceptStatus"/>
        <result column="cancel_status" jdbcType="INTEGER" property="cancelStatus"/>
        <result column="accept_number" jdbcType="VARCHAR" property="acceptNumber"/>
        <result column="accept_address_id" jdbcType="INTEGER" property="acceptAddressId"/>
        <result column="accept_address" jdbcType="VARCHAR" property="acceptAddress"/>
        <result column="reservation_date" jdbcType="TIMESTAMP" property="reservationDate"/>
        <result column="reservation_m" jdbcType="INTEGER" property="reservationM"/>
        <result column="c_time" jdbcType="TIMESTAMP" property="cTime"/>
        <result column="u_time" jdbcType="TIMESTAMP" property="uTime"/>
        <result column="result_status" jdbcType="INTEGER" property="resultStatus"/>
    </resultMap>
    <select id="selectByCompany" resultMap="BaseResultMap">
        select i.* from t_identity_info i inner join t_company_info c on i.company_id=c.id
        <where>
            <if test="search.companyId!=null">
                and c.id=#{search.companyId}
            </if>
            <if test="search.societyCode!=null and search.societyCode!=''">
                and c.society_code=#{search.societyCode}
            </if>
            <if test="search.batchId!=null">
                and i.batch_id=#{search.batchId}
            </if>
        </where>
    </select>
    <select id="selectExportList1" resultType="java.util.Map">
        select
        i.accept_number,i.id_number,i.name,i.reservation_date,
        i.sex,o.culture_degree,p.profession_type,p.job_type,
        c.company_name,c.company_mobile,o.self_phone,p.certificate_code,
        p.issuing_authority,p.issuing_date
        from t_identity_info i
        left join t_house_other o
        on i.id=o.identity_info_id
        left join t_house_profession p
        on i.id=p.identity_info_id
        left join t_company_info c on i.company_id=c.id
        <where>
            <if test="item.batchId!=null">
                and i.batch_id=#{item.batchId}
            </if>
            <if test="item.idNumber!=null">
                and i.id_number=#{item.idNumber}
            </if>
        </where>
    </select>
    <select id="selectExportList2" resultType="java.util.Map">
        select
        i.accept_number,o.applicant_type,i.id_number,i.name,
        p.profession_type,p.job_type,o.profession,
        i.region,i.hall_status,i.reservation_status,m.move_registered_office
        from t_identity_info i
        left join t_house_other o
        on i.id=o.identity_info_id
        left join t_house_profession p
        on i.id=p.identity_info_id
        left join t_house_move m
        on i.id=m.identity_info_id
        <where>
            <if test="item.batchId!=null">
                and i.batch_id=#{item.batchId}
            </if>
            <if test="item.idNumber!=null">
                and i.id_number=#{item.idNumber}
            </if>
        </where>
    </select>
    <select id="selectApprovingRedCompanyId" resultType="java.lang.Integer">
        select
        company_id
        from t_identity_info
        <where>
            <if test="item.batchId!=null">
                and batch_id=#{item.batchId}
            </if>
            <if test="item.acceptAddressId!=null">
                and accept_address_id=#{item.acceptAddressId}
            </if>
        </where>
        group by company_id having count(1)>=#{limit}
    </select>
    <select id="selectExportList3" resultType="java.util.Map">
        select
        r.*,c.batch_name,i.accept_address
        from t_pb_score_record r
        left join t_identity_info i
        on r.person_id = i.id
        left join t_batch_conf c
        on r.batch_id=c.id
        <where>
            <if test="item.batchId!=null">
                and r.batch_id = #{item.batchId}
            </if>
            <if test="item.personName!=null and item.personName!=''">
                and r.person_name like concat('%',concat(#{item.personName}, '%'))
            </if>
            <if test="item.personIdNum!=null and item.personIdNum!=''">
                and r.person_id_num like concat('%',concat(#{item.personIdNum}, '%'))
            </if>
            <if test="item.companyName!=null and item.companyName!=''">
                and r.company_name like concat('%',concat(#{item.companyName}, '%'))
            </if>
            <if test="item.indicatorName!=null and item.indicatorName!=''">
                and r.indicator_name like concat('%',concat(#{item.indicatorName}, '%'))
            </if>
            <if test="item.status!=null">
                and r.status = #{item.status}
            </if>
            <if test="item.acceptAddressId!=null">
                and i.accept_address_id = #{item.acceptAddressId}
            </if>
            <if test="item.acceptDateBegin!=null">
                <![CDATA[ and r.accept_date >= #{item.acceptDateBegin} ]]>
            </if>
            <if test="item.acceptDateEnd!=null">
                <![CDATA[ and r.accept_date < #{item.acceptDateEnd}  ]]>
            </if>
            <if test="item.submitDateBegin!=null">
                <![CDATA[ and r.submit_date >= #{item.submitDateBegin} ]]>
            </if>
            <if test="item.submitDateEnd!=null">
                <![CDATA[ and r.submit_date < #{item.submitDateEnd}  ]]>
            </if>
            <if test="item.scoreDateBegin!=null">
                <![CDATA[ and r.score_date >= #{item.scoreDateBegin} ]]>
            </if>
            <if test="item.scoreDateEnd!=null">
                <![CDATA[ and r.score_date < #{item.scoreDateEnd}  ]]>
            </if>
        </where>

    </select>
    <select id="selectExportList4" resultType="java.util.Map">
        select
        i.accept_number,
        i.id_number,
        i.name,
        o.self_phone,
        i.sex,
        o.culture_degree,
        p.profession_type,
        p.job_type,
        p.certificate_code,
        p.issuing_authority,
        p.issuing_date,
        c.company_name,
        c.company_mobile,
        c.operator,
        c.operator_mobile,
        r.name partner_name,
        r.id_number partner_id_number
        from t_identity_info i
        left join t_house_other o
        on i.id=o.identity_info_id
        left join t_house_profession p
        on i.id=p.identity_info_id
        left join t_company_info c on i.company_id=c.id
        left join t_house_relationship r on i.id=r.identity_info_id and r.relationship='配偶'
        <where>
            <if test="item.batchId!=null">
                and i.batch_id = #{item.batchId}
            </if>
            <if test="item.acceptAddressId!=null">
                and i.accept_address_id = #{item.acceptAddressId}
            </if>
            <if test="item.personName!=null and item.personName!=''">
                and i.name like concat('%',concat(#{item.personName}, '%'))
            </if>
            <if test="item.personIdNum!=null and item.personIdNum!=''">
                and i.id_number like concat('%',concat(#{item.personIdNum}, '%'))
            </if>
            <if test="item.companyName!=null and item.companyName!=''">
                and c.company_name like concat('%',concat(#{item.companyName}, '%'))
            </if>
        </where>
    </select>
</mapper>
