<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orange.score.database.score.dao.IndicatorJsonMapper">
  <resultMap id="BaseResultMap" type="com.orange.score.database.score.model.IndicatorJson">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="batch_id" jdbcType="INTEGER" property="batchId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="add_user" jdbcType="VARCHAR" property="addUser" />
    <result column="json" jdbcType="LONGVARCHAR" property="json" />
  </resultMap>
</mapper>